# Ignore Python cache
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# git files
.git
.gitignore

# build artifacts
build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Logs
*.log

# secrets
.env

# transcripts
transcripts/
